* {
    padding: 0;
    margin: 0;
}

* {
    list-style: none;
    text-decoration: none;
}

.w {
    width: 1200px;
    margin: auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 1200px;
    height: 42px;
    /* background-color: pink; */
    margin: 30px auto;
}

.logo {
    width: 198px;
    height: 42px;
    background-color: yellow;
    text-align: center;
    line-height: 42px;
    font-size: 24px;
    float: left;
}

.nav ul li {
    float: left;
    margin: 0 15px;
}

/* 导航栏 */
.nav ul li a {
    display: block;
    float: left;
    height: 42px;
    margin: auto;
    padding: 0 10px;
    line-height: 42px;
    font-size: 18px;
    color: #4f4f4f;
}

.nav ul li a:hover {
    border-bottom: 2px solid #00a4ff;
    color: #00a4ff;
}

/* 搜索栏 */
.search {
    float: left;
    width: 412px;
    height: 42px;
    margin-left: 50px;
    /* background-color: skyblue; */
}

/* 输入框 */
.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid#00a4ff;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;

}

/* 搜索按钮 */
.search button {
    float: left;
    width: 50px;
    height: 42px;
    background-color: #00a4ff;
    /* 按钮默认有边框  去掉*/
    border: 0;
}


/* 用户 */
.user {
    /* float: right; */
    display: flex;
    /* 垂直居中 */
    align-items: center;
    /* 水平居中 */
    justify-content: center;
    /* line-height: 42px; */
    margin-left: 70px;

}

.image {
    float: left;
    /* 防止图片缩小 */
    flex-shrink: 0;
}

img {
    margin: auto;
    width: 30px;
    border-radius: 100%;
}

.text {
    float: left;
    font-size: 14px;
    color: #666;
}

/* 广告背景 */
.danner {
    height: 420px;
    background-color: pink;
}

/* 广告栏 */
.wrapper {
    position: relative;
    width: 1200px;
    height: 420px;
    background-color: #f4f4f4;
    margin: 0 auto;
}

.left {
    float: left;
    width: 190px;
    height: 420px;
    background-color: #00a4ff;
    background-color: rgba(0, 0, 0, 0.3);
}

.left ul li {
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
}

.left ul li a {
    color: white;
    font-size: 14px;

}

.left ul li a span {
    float: right;
}

.left ul li a:hover {
    color: #00a4ff;

}

.right {
    float: right;
    width: 230px;
    height: 300px;
    margin-top: 50px;
    background-color: aquamarine;

}

.right h2 {
    height: 48px;
    background-color: #9bceea;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    color: white;
}

.bd {
    padding: 0 20px;
    border-bottom: 1px sloid wheat;

}

.center img {
    float: left;
    width: 420px;
}

.center {
    position: absolute;
    top: 0;
    left: 50%;
    margin-left: -210px;

}