<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--方法映射的位置-->
<mapper namespace="com.mypro.mapper.UserInfoMapper">
    <!--对象映射的位置-->
    <resultMap id="userinfo_base_result_map" type="com.mypro.entity.po.UserInfo">
        <!-- 用户id -->
        <id column="id" property="id"/>
        <!-- 注册时间 -->
        <result column="create_at" property="createAt"/>
        <!-- 密码 -->
        <result column="password" property="password"/>
        <!-- 头像 -->
        <result column="avatar" property="avatar"/>
        <!-- 状态 -->
        <result column="status" property="status"/>
        <!-- 最后登录ip -->
        <result column="last_login_ip" property="lastLoginIp"/>
        <!-- 最后登录时间 -->
        <result column="last_login_time" property="lastLoginTime"/>
        <!-- 用户简介 -->
        <result column="introduction" property="introduction"/>
        <!-- 邮箱 -->
        <result column="email" property="email"/>
        <!-- 性别 -->
        <result column="sex" property="sex"/>
        <!--名字-->
        <result column="name" property="name"/>
    </resultMap>

    <insert id="insert">
        INSERT INTO
        user_info (`id`, `create_at`, `password`, `email`, `sex`, `name`)
        VALUES (#{id}, '#{createAt}', '#{password}', #{email}, 0, #{name});

    </insert>

    <select id="selectById" resultMap="userinfo_base_result_map">
        SELECT
        *
        FROM
        user_info where id = #{id}
    </select>
</mapper>