/* CSS Reset */
/* CSS 初始化文件 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    /* 设置默认字体 */
    line-height: 1.6;
    /* 设置行高 */
    color: #333;
    /* 设置默认文字颜色 */
    background-color: #6ad6d8;
    /* 设置默认背景颜色 */
}

button,
input {
    border: 0;
    outline: 0;
}

img,
video {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    /* 去除链接下划线 */
    color: #333;
}

/* a:hover {
    text-decoration: underline;
    鼠标悬停时添加下划线
} */

/* 清除浮动 */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* 常用类 */
.container {
    width: 80%;
    margin: 0 auto;
    /* 居中显示 */
    max-width: 1200px;
    /* 最大宽度 */
}

/* 字体声明 */
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?e8mcdf');
    src: url('../fonts/icomoon.eot?e8mcdf#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?e8mcdf') format('truetype'),
        url('../fonts/icomoon.woff?e8mcdf') format('woff'),
        url('../fonts/icomoon.svg?e8mcdf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}