body {
    background-color: #6ad6d8;
}

.logo {
    /* display: inline-block; */
    /* position: absolute; */
    /* top: 10px; */
    /* left: 10px; */
    width: 150px;
    height: 40px;
    margin: 20px 0 0 10px;

}

.logo h1 a {
    display: block;
    width: 100px;
    height: 40px;
    background: url(../images/logo.png) no-repeat;
    /* 背景图片完全包含在元素中 */
    background-size: contain;
    font-size: 0;
}


/* 侧边栏 */
aside {
    float: left;
    position: relative;
    width: 150px;
    margin: 10px;
    /* background-color: #fff; */
    box-sizing: border-box;
}

aside section {
    position: relative;
}

aside section .online_music,
aside section .my_music {
    float: left;
    /* position: absolute; */
    /* top: 10px; */
    margin: 30px auto 10px auto;
}

aside section .my_music {
    margin-top: 10px;
}

aside section .online_music h6,
aside section .my_music h6 {
    margin: 0 0 10px 5px;
    font-weight: 100;
    color: #2a5656;
}

aside section .online_music a,
aside section .my_music a {
    display: block;
    margin: 0 auto 10px auto;
    padding-left: 10px;
    width: 150px;
    height: 33px;
    border-radius: 5px;
    line-height: 33px;
    font-size: 14px;
    /* 字体粗细 */
    font-weight: 100;
}

aside section .online_music a:hover,
aside section .my_music a:hover {
    background-color: #62c5c7;
    transition: 0.1s ease 0s;
}

/* 图标 */
aside section .online_music a span,
aside section .my_music a span {
    position: relative;
    margin-right: 10px;
    /* 设置字体样式 */
    font-family: 'icomoon';
    font-size: 20px;
    /* 文字图标中线对齐 */
    vertical-align: bottom;
}


/* 内容标签 */
article {
    /* position: fixed; */
    float: right;
    margin: 10px 10px 0 0;
    width: calc(100% - 180px);
    height: 100%;
    border-radius: 4px;
    background-color: #73dbde;
    overflow-y: auto;
}