/* 盒子阴影 */
.box {
    box-shadow: 10px 10px 10px -4px rgba(0, 0, 0, .3);
}

/* 单伪元素after清除浮动 */
.parent::after {
    content: " ";
    display: table;
    clear: both;
}

/* 双伪元素清除浮动 */
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
    /* 为IE6-7设置hasLayout，确保清除浮动 */
}

/* 单伪元素after清除浮动 */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}